{% extends 'shop/basic.html' %}

{% block title %} {{product.product_name}} {% endblock %}
{% block body %} 
    <div class="text-center mt-4">
        <h1>Product Page</h1>

        <div class="container">
            <div class="card border-0 shadow-sm" style="width: 18rem;">
                <img src="/media/{{product.image }}" class="card-img-top" alt="ProductImg">
                <div class="card-body text-left">
                  <h5 class="card-title">{{product.product_name}}</h5>
                  <p class="card-text"><b>Description</b> : {{product.desc}}</p>
                  <p class="card-text"><b>Price</b> : Rs.{{product.product_price}} <span class="text-success">({{product.offers}}% OFF)</span></p>
                  <p class="card-text"><b>Size</b> : {{product.size}}</p>
                  <p class="card-text"><b>Colour</b> : {{product.color}}</p>
                  <p class="card-text"><b>Material</b> : {{product.material}}</p>
                  <p class="card-text"><b>Category</b> : {{product.main_product_category}} | {{product.product_category}} | {{product.product_sub_category}}</p>
                  <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
              </div>
        </div>
    </div>
{% endblock %}